body {
    background: linear-gradient(120deg, pink, purple, red);
    background-size: 300% 300%;
    animation: gradientAnimation 10s infinite ease-in-out;

}

@keyframes gradientAnimation {
     0% {
        background-position: 0% 50%;
     }
     50% {
        background-position: 100% 50%;
     }
     100% {
        background-position: 0% 50%;
     }
}

#signupForm-div {
    display: flex-column;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 20px;

    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
   
}

#loginForm-div {
    display: flex-column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 20px;

    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    
}

#expense-div {
    display: flex-column;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 20px;

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#expenseList-div {
    display: flex-column;
    align-items: center;
    justify-content: center;
    height:auto;
    width: auto;
    background-color: aquamarine;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    
}

#list {
    list-style: none;
    text-align: center;
}

.tittle {
    margin-bottom: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

input {
    border-radius: 10px;
    border-style: none;
}

.paratext {
 font-style: italic;
}

a:hover {
  color:darkmagenta;
}

.submit-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border-style:outset;
}

.submit-btn::shadow {
    background-color: aqua;
}