
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


#signupForm-div {
  display: flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: aquamarine;
  border-radius: 20px;

  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

/* log in form  */



#expense-div {
  display: flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: aquamarine;
  border-radius: 20px;

  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#expenseList-div {
  display: flex-column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: aquamarine;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

#list {
  list-style: none;
  text-align: center;
}

.tittle {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input {
  border-radius: 10px;
  border-style: outset;
}

.paratext {
  font-style: italic;
}

.submit-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border-style: outset;
}

.submit-btn::shadow {
  background-color: aqua;
}

header {
  background-color: cornflowerblue;
  color: white;
  padding: 5px 10px;
}

header nav ul {
  list-style: none;
  display: flex;

  gap: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a,
header nav ul li button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

header nav ul li a:hover,
header nav ul li button:hover {
  text-decoration: underline;
}

#userNameDisplay span {
  font-weight: bold;
  text-transform: capitalize;
}

#userNameDisplay {
  color: white;
  font-size: 16px;
  margin-right: 20px;
}

#leaderboard {
  display: none;
}

#leaderboardTittle {
  display: none;
}


/* table styling */

/* .table-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  padding: 20px;
  width:100%;
} */



table {
  width: 100%;
  height: auto;
  margin: 40px;
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid black;
}

th {
  background-color:blue;
  color: white;
  
}

tr:nth-child(even) {
  background-color: grey;
}

.row {
  background-color: lightskyblue;
}

